<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfig>
	<contextName>demo</contextName>
	<snapshotSendInterval>20</snapshotSendInterval>
	<tokenPoolConfig>
		<contentType>xml</contentType>
		<holdTimeout>20</holdTimeout>
		<requestKey>name-id-code</requestKey>
		<requestTimeout>5</requestTimeout>
		<requestUrl>/upload</requestUrl>
		<tokenQueueConfig>
			<holdTimeout>2</holdTimeout>
			<priority>2</priority>
			<requestTimeout>2</requestTimeout>
			<tokenCount>2</tokenCount>
			<updateTime>2013-09-13T10:05:09.142+08:00</updateTime>
			<value>xvxsd2</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>3</holdTimeout>
			<priority>3</priority>
			<requestTimeout>3</requestTimeout>
			<tokenCount>3</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>44dvvs</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>4</holdTimeout>
			<priority>4</priority>
			<requestTimeout>4</requestTimeout>
			<tokenCount>4</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>dsxvdd</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>5</holdTimeout>
			<priority>5</priority>
			<requestTimeout>5</requestTimeout>
			<tokenCount>5</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>d2sx42</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>6</holdTimeout>
			<priority>6</priority>
			<requestTimeout>6</requestTimeout>
			<tokenCount>6</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>ggxdx4</value>
		</tokenQueueConfig>
		<totalTokenCount>400</totalTokenCount>
		<updateTime>2013-09-13T10:05:10.157+08:00</updateTime>
	</tokenPoolConfig>
	<tokenPoolConfig>
		<contentType>xml</contentType>
		<holdTimeout>20</holdTimeout>
		<requestKey>name-id-code</requestKey>
		<requestTimeout>5</requestTimeout>
		<requestUrl>/upload</requestUrl>
		<tokenQueueConfig>
			<holdTimeout>2</holdTimeout>
			<priority>2</priority>
			<requestTimeout>2</requestTimeout>
			<tokenCount>2</tokenCount>
			<updateTime>2013-09-13T10:05:09.142+08:00</updateTime>
			<value>xvxsd2</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>3</holdTimeout>
			<priority>3</priority>
			<requestTimeout>3</requestTimeout>
			<tokenCount>3</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>44dvvs</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>4</holdTimeout>
			<priority>4</priority>
			<requestTimeout>4</requestTimeout>
			<tokenCount>4</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>dsxvdd</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>5</holdTimeout>
			<priority>5</priority>
			<requestTimeout>5</requestTimeout>
			<tokenCount>5</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>d2sx42</value>
		</tokenQueueConfig>
		<tokenQueueConfig>
			<holdTimeout>6</holdTimeout>
			<priority>6</priority>
			<requestTimeout>6</requestTimeout>
			<tokenCount>6</tokenCount>
			<updateTime>2013-09-13T10:05:10.142+08:00</updateTime>
			<value>ggxdx4</value>
		</tokenQueueConfig>
		<totalTokenCount>400</totalTokenCount>
		<updateTime>2013-09-13T10:05:10.157+08:00</updateTime>
	</tokenPoolConfig>
</contextConfig>
